page-login {

}
.textlogo {
  font-family: "Forte";
  font-size: 5em;
  text-align: center;
  margin-top: 20px !important;
  background: -webkit-linear-gradient(yellow,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linea{
  margin-top: 20px !important;
}
.vinculo{
  color: #ff5733 !important;
}
.nopadding{
  padding-left: 0 !important;
}
