page-negocio {
  .segmento{
    background-color: #ff5733;
  }
  .segment-md .segment-button.segment-activated {
    border-color: #ffffff;
  }
  .segment-md .segment-button {
    color: #ffffff;
  }
  .A{
    float: left;
  }
}
